{% extends "registration/registration_base.html" %}
{% load i18n %}{% load static %}{% load bootstrap4 %}

{% block content %}
{{ form.media }}
<form method="post" action="." class="form">{% csrf_token %}
{% bootstrap_form form %}
{% buttons %}
<button type="submit" class="btn btn-primary">{% trans "Submit" %}</button>
{% endbuttons %}
</form>
{% endblock %}
