{% load i18n %}{% load static %}{% load bootstrap4 %}
<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE|default:"en-us" }}">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <title>HackInScience - {% block title %}Welcome!{% endblock %}</title>
        {% bootstrap_css %}
        {% bootstrap_javascript %}
        {% bootstrap_jquery %}

        <link href="{% static "css/hkis.css" %}" rel="stylesheet" type="text/css" />
        {% block stylesheets %}{% endblock %}
        {% block extrastyle %}{% endblock %}
        {% block extrahead %}{% endblock %}
    </head>
    <body class="{% if is_popup %}popup {% endif %}{% block bodyclass %}{% endblock %}">
        {% block nav %}{% endblock %}
        {% block body %}
        {% endblock %}
        <div class="container" style="margin-top: 25px;">
            {% block container %}{% endblock container %}
        </div>
        {% block form_row %}{% endblock %}
    </body>

</html>
