{% extends "hkis/layout.html" %}
{% load i18n %}
{% load static %}
{% load bootstrap4 %}

{% block body %}

<div class="container">
  <h1>Python exercises</h1>

  <table class="table table-sm table-bordered table-hover records_list">
    <tbody>
      {% for exercise in exercises %}
      <tr>
        <td scope="row">
            <a href="{% url "exercise" exercise.id %}">
              <div class="float-left">
                {% if exercise.done %}
                <span class="good h3"> ✓ </span>
                {% else %}
                <span class="bad h3"> ✗ </span>
                {% endif %}
              </div>
              <div class="float-left">
                <h5>{{ exercise.title }}</h5>
                {{ exercise.lead }}
              </div>
            </a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>




{% endblock %}
