{% extends "hkis/layout.html" %}
{% load i18n static md2 bootstrap4 notifications_tags %}
{% block body %}


{{ answer_form.media }}
<link href="{% static "css/pygments/default.css" %}" rel="stylesheet" type="text/css" />
<div class="container">
  {% if next_id %}
  <div class="float-right">
    <a href="{% url "exercise" next_id %}">
      next →
    </a>
  </div>
  {% endif %}
  <div style="margin-bottom: 25px;">
  {{ object.wording|markdown:"fenced-code-blocks" }}
  </div>

  <div class="row">
    <div class="col-md-8">
      <h2>Your Code</h2>
      <form action="{% url "answer-create" %}" method="post">{% csrf_token %}
          {% for field in answer_form %}
          <div class="fieldWrapper">
              {{ field }}
          </div>
          {% endfor %}
          <button class="btn btn-primary" type="submit">Submit your code</button>
      </form>
    </div>
    <div class="col-md-4">
      <h2>Results</h2>
      <div id="answers-result" class="result">
        <table  class="table">
          {% for answer in answers %}
          {% if not answer.is_corrected %}
          <tr>
            <td id="td-{{ answer.id }}"><img src="{% static "img/loading_anim.gif" %}" height=30> Waiting for correction</td>
          </tr>
          {% else %}
          <tr>
            <td><pre>{{ answer.correction_message }}</pre></td>
          </tr>
          {% endif %}
          {% endfor %}
        </table>
      </div>
    </div>
  </div>
</div>
{% autoescape off %}
<script src="{% static 'notifications/notify.js' %}" type="text/javascript"></script>
<script>
function fill_answer(data) {
    var result = document.getElementById("answers-result");
    if (result && data.unread_count > 0) {
        for (var i=0; i < data.unread_list.length; i++) {
            var msg = data.unread_list[i];
            var elem = document.getElementById("td-".concat(msg.actor_object_id));
            if (elem) {
                elem.innerHTML = "<pre>" + msg.description + "</pre>";
                var xhttp = new XMLHttpRequest();
                xhttp.open("GET", "/inbox/notifications/delete/" + msg.slug + "/", true);
                xhttp.send();
            }
        }
    }
}
</script>
{% register_notify_callbacks callbacks='fill_answer' refresh_period='5' fetch='50' %}
{% endautoescape %}
{% endblock %}
