{% extends 'hkis/base.html' %}
{% load static %}

{% block nav %}

<nav class="navbar navbar-expand-lg navbar-light bg-light" style="margin-bottom:25px;">
        <a class="navbar-brand" href="/">
            <div style="float:left;">
                <img src="{% static "img/logo_hackinscience.png" %}" width="20" height="20" alt="logo"/>
            </div>
            <div style="float:left;margin-left:10px;">
                HackInScience
            </div>
        </a>

        {% if user.is_authenticated %}
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'dashboard' %}">Dashboard</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'exercises' %}">Exercises</a>
                </li>
                <li class ="nav-item">
                  <a class="nav-link" href="{% url 'profile' user.id %}">Profile</a>
                </li>
            </ul>
            <ul class="navbar-nav navbar-right">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'auth_logout' %}" >Log out</a>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
        {% else %}
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mr-auto"></ul>
            <ul class="navbar-nav navbar-right">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'auth_login' %}" >Login</a>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
        {% endif %}
</nav>
{% endblock %}


{% block body %}
{% endblock %}
