{% extends "hkis/layout.html" %}

{% block body %}
<h2>{{ object.name }}</h2>
<table>
  {% for username, answers in stats.items %}
  <tr>
    <td>
      {{ username }}
    </td>
    <td>
    {% for answer in answers %}
      <a href="{% url "exercise" answer.exercice_id %}">
      {% if answer.is_valid %}
        <span class="good">✓</span>
      {% else %}
        <span class="bad">✗</span>
      {% endif %}
      </a>
    {% endfor %}
    </td>
  </tr>
  {% endfor %}
</table>
{% endblock %}
