h1 {
    margin-bottom: 25px;
}

h2 {
    margin-bottom: 15px;
}

pre {
    display: block;
    padding: 9.5px;
    margin: 0 0 10px;
    font-size: 13px;
    line-height: 1.42857143;
    color: #333;
    word-break: break-all;
    word-wrap: break-word;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.intro-body {
    background: radial-gradient(black, transparent 70%);
}

a {
    color: #24292e;
}

a:hover {
    color: #0366d6;
    text-decoration: none;
}

.table-hover tbody tr:hover {
  background-color: rgba(0, 0, 0, 0.03);
}

span.good {
    color: #28a745;
}

span.bad {
    color: #cb2431;
}
