{% extends "registration/registration_base.html" %}
{% load i18n %}
{% load staticfiles %}
{% load bootstrap4 %}

{% block title %}{% trans "Login" %}{% endblock %}

{% block content %}
{% url 'auth_password_reset' as auth_pwd_reset_url %}
{% url 'registration_register' as register_url%}


<form method="post" action="." class="form">
{% csrf_token %}
{% bootstrap_form form layout='inline' %}

<p>
{% blocktrans %}
<a href="{{ auth_pwd_reset_url }}">Forgot your password?</a>
<a href="{{ register_url }}">Need an account?</a>
{% endblocktrans %}
</p>

{% buttons %}
<button type="submit" class="btn btn-primary">{% trans "Login" %}</button>
{% endbuttons %}
<input type="hidden" name="next" value="{{ next }}" />
</form>

{% endblock %}
