{% extends "registration/registration_base.html" %}
{% load i18n %}
{% load staticfiles %}
{% load bootstrap4 %}

{% block title %}{% trans "Change password" %}{% endblock %}
{% block content %}
<form method='post' action='' class="form">{% csrf_token %}
    {% bootstrap_form form layout='inline' %}
    {% buttons %}
      <button type="submit" class="btn btn-primary">{% trans "Change password" %}</button>
    {% endbuttons %}
    <a href="/">Back</a>
</form>
{% endblock %}
