{% extends "registration/registration_base.html" %}
{% load i18n %}
{% load bootstrap4 %}

{% block title %}{% trans "Reset password" %}{% endblock %}

{% block content %}
<form action="" method="post" class="form">
  {% csrf_token %}
  {% bootstrap_form form layout='inline' %}
  {% buttons %}
    <button type="submit" class="btn btn-primary">{% trans "Reset password" %}</button>
  {% endbuttons %}
</form>
{% endblock %}


{# This is used by django.contrib.auth #}
