{% extends "registration/registration_base.html" %}
{% load i18n %}
{% load staticfiles %}
{% load bootstrap4 %}

{% block title %}{% trans "Register" %}{% endblock %}
{% block content %}
<form action="." method="post" class="form">
    {% csrf_token %}
    {% bootstrap_form form layout='inline' %}
    {% buttons %}
      <button type="submit" class="btn btn-primary">{% trans "Submit" %}</button>
    {% endbuttons %}
    <a href="/">Back</a>
</form>
{% endblock %}
